:root {
    font-family: 'DM Sans', sans-serif;
}

body {
    position: relative;
    margin: 0;
    height: 100vh;
}

#root {
    padding: 48px 96px 196px 48px;
    min-height: 100%;
    box-sizing: border-box;
    position: relative;
}

.heading1{
    font-size: 33px;
    font-weight: 500;
}

.heading2{
    font-size: 26px;
    line-height: 35px;
}

.heading3{
    font-size: 20px;
    line-height: 26px;
}

.heading4{
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

.heading5{
    font-size: 18px;
    line-height: 27px;
}

.body-large{
    font-size: 16px;
    font-weight: 700;
}

.body-medium{
    font-size: 14px;
}

.body-small{
    font-size: 12px;
    line-height: 20px;
}

.button-black{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 230px;
    border-radius: 4px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    transition: background-color 0.1s;
}

.button-black:hover{
    background-color: #fff;
    color: #000;

}

.button-white{
    border-radius: 4px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    padding: 12px 40px;
}

.button-white:hover{
    background-color: #000;
    color: #fff;
}

.light_gray{
    color: var(--dark-gray);
}

.gold{
    color: #A18A68;
}

@media screen and (max-width: 848px) {
    #root {
        padding: 16px;
    }
}