:root{
    --primary-color: #121317;
    --secondary-color: #1a1c23;
    --primary-font-color: #f9fafb;
    --secondary-font-color: #959ca8;
    --primary-button-color: #df2a2a;
    --primary-button-color-hover: #b91c1c;
    --secondary-button-color-hover: #272a35;
}